<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#f9e0db">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register a doctor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/icon.png') }}" type="image/png">
</head>
<body>
    <header>
        <h2>PawPal</h2>
        <div class="links">
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('main.report') }}">Report Sick Animal</a>
            <a href="{{ url_for('main.report_cruelty') }}">Report Animal Cruelty</a>
            <a href="{{ url_for('main.view_reports') }}">View Reports</a>
            <a href="{{ url_for('main.rescue_updates') }}">Rescue Updates</a>
            <a href="{{ url_for('main.register') }}"class="active">Register Vet</a>
            <a href="{{ url_for('main.donate') }}">Donate</a>
            <a href="{{ url_for('main.map_page') }}">Map</a>
            <a href="{{ url_for('main.awareness') }}">Awareness & Education</a>
            <a href="{{ url_for('main.blog') }}">Environment Blog</a>
        </div>
    </header>
<div class="back_img">
     <div id="register-doctor" class="main_div register_doc">
        <h2>Register a Doctor</h2>
        <form id="doctor-form" method="POST" action="{{ url_for('main.register') }}">
  <div class="form_content">
    <div class="form_group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div class="form_group">
      <label for="clinic">Clinic Name:</label>
      <input type="text" id="clinic" name="clinic" required>
    </div>
    <div class="form_group">
      <label for="city">City:</label>
      <input type="text" id="city" name="city" required>
    </div>
    <div class="form_group">
      <label for="contact">Contact Info:</label>
      <input type="text" id="contact" name="contact" required>
    </div>
    <button class="btn" type="submit">Register</button>
  </div>  
</form>

    </div>
</div>

</body>

</html>